  body {
    margin: 0;
    background-image: url(../assets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(7px);

  }

  ::-webkit-scrollbar {
    width: 13px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #18272F;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #10181d;
  }


  .navbar_login {
    padding: 2.5rem;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
  }

  .texto_navbar {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  .texto_navbar:hover {
    color: #5a78c4;
    transform: translate(5px)
  }

  .div_logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .logo_login {
    width: 25%;
  }

  .logo_login:hover {
    cursor: pointer;
  }

  .div_login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputs_login {
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 105vh;
  }

  .caixa_inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 2vw;
    height: 55vh;
  }

  .inputs_login_esquerda1,
  .inputs_login_direita1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 21rem;
  }

  .inputs_login_esquerda,
  .inputs_login_direita {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 18rem;
  }

  /* Formulario de cadastro */

  .container {
    width: 50vw;
    height: 109vh;
    background: #121212e2;
    text-align: center;
    border-radius: 5px;
    padding: 50px 10px 10px 35px;
  }

  .container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
    color: #fff;
    position: relative;
    right: 0.5vw;
  }

  .container .form-outer {
    width: 100%;
    overflow: hidden;
  }

  .container .form-outer form {
    display: flex;
    width: 400%;
  }

  .form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
  }

  .form-outer form .page .title {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #fff;

  }

  .form-outer form .page .field {
    width: 300px;
    height: 45px;
    margin: 10px 0;
    display: flex;
    position: relative;
    left: 2vh;
  }

  form .page .field select {
    width: 19.5rem;
    padding-left: 3rem;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #ffffff;
    background-color: transparent;
    outline: 2px solid #ffffff;
    align-items: center;
    color: #fdfafa;
    background: rgba(0, 0, 0, 0.425)
  }



  form .page .field button {
    width: 90%;
    height: calc(100% + 5px);
    border: none;
    background: #323131;
    margin-top: -20px;
    position: relative;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
  }

  form .page .field button:hover {
    background: #10181d;
    transform: scale(1.1);
  }

  form .page .btns button.prev {

    font-size: 17px;
    position: relative;

  }

  form .page .btns button.next {
    position: relative;
    left: 25vh;
    top: 2vh;
  }

  form .page button.next1 {
    position: relative;
    left: 23vw;
  }

  form .page button.cadastro {

    position: relative;
    left: 23vw;

  }

  .container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
  }

  .container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
    color: #fff;
  }

  .container .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #faf5f5;

  }

  .progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #f0f0f0;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
  }

  .progress-bar .step .bullet.active {
    border-color: #8b8b8b;
    background: #a2a2a3;
  }

  .progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
  }

  .progress-bar .step .bullet.active span {
    display: none;
  }

  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 11px;
    left: 2.8vw;
    height: 3px;
    width: 21vw;
    background: #ffffff;
  }

  .progress-bar .step .bullet.active:after {
    background-color: #8b8b8b;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
  }

  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }

  .progress-bar .step:last-child .bullet:before,
  .progress-bar .step:last-child .bullet:after {
    display: none;
  }

  .progress-bar .step p.active {
    color: #a2a2a3;
    transition: 0.2s linear;
  }

  .progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
  }

  .progress-bar .step .check.active {
    display: block;
    color: #a2a2a3;
  }

  /* Fim do formulario de cadastro */

  /* Estilo das inputs */

  .input {
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .input__field {
    padding: 1rem 1rem 1rem 3rem;
    width: 16.5rem;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #ffffff;
    background-color: transparent;
    outline: 2px solid #ffffff;
    align-items: center;

  }

  .input__label {
    position: absolute;
    top: 0;
    left: 5.5vh;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform 0.25s;
  }

  .input__label2 {
    position: absolute;
    top: 0;
    left: 28vh;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform 0.25s;
  }

  .input__label3 {
    position: absolute;
    top: 0;
    left: 32vh;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform 0.25s;
  }

  .input__field:focus-visible~.input__label,
  .input__field:valid~.input__label {
    transform: translate(-5.5vh, -25px) scale(0.8);
    color: #ffffff;
  }

  .input__field:focus-visible~.input__label2,
  .input__field:valid~.input__label2 {
    transform: translate(-6vh, -25px) scale(0.8);
    color: #ffffff;
  }

  .input__field:focus-visible~.input__label3,
  .input__field:valid~.input__label3 {
    transform: translate(-6vh, -25px) scale(0.8);
    color: #ffffff;
  }

  .input__field:is(:focus-visible, :valid) {
    outline-color: #ffffff;
  }

  .input_size {
    width: 4rem;
    position: relative;
  }

  .input_mini {
    padding: 1rem 1rem 0.3rem 3rem;
    width: 6rem;
  }

  .input.success input {
    border: 3px solid #4ECA64;
  }

  .input.error input {
    border: 3px solid #DB5A5A;
  }

  .input.error i.img-error {
    visibility: visible;
  }

  .input.success i.img-success {
    visibility: visible;
  }

  .input.error small {
    color: #DB5A5A;
    visibility: visible;
  }

  .input i {
    position: absolute;
    top: 45px;
    right: 6vh;
    visibility: hidden;
  }

  .input small {
    visibility: hidden;
    position: absolute;
    top: 7vh;
    font-size: 14px;

  }

  /* Simbolo das inputs */

  .material-symbols-outlined {
    width: 2rem;
    height: fit-content;
    position: relative;
    top: 1vh;
  }

  .input img {
    position: absolute;
    left: 0.6rem;
    bottom: 0.7rem;
  }

  #logo_estado {
    position: absolute;
    left: 11rem;
  }

  #logo_complemento {
    position: absolute;
    left: 9.1rem;
  }

  footer {
    padding-top: 2rem;
    display: flex;
  }

  .span_copyright {
    text-align: center;
    width: 100%;
    color: white;
    margin-top: -10px;
  }