* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #18272F;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #10181d;
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    z-index: 99999;
    color: #000000;
    background: rgba(90, 92, 105, 0.74);
    line-height: 46px;
    border-radius: 9%;
    animation: fadeIn 1s; 
  }
  
  .scroll-to-top.show {
    display: inline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
    
  }
  
  .scroll-to-top:hover {
    background: #5a5c69;
  }
  
  .scroll-to-top i {
    font-weight: 800;
    font-size: 5vh;
  }

/* começo do cabeçalho */
.paiCabecalho {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.filhoCabecalho {
    width: 90%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.esquerdaCabecalho {
    width: 20vw;
    height: 7vh;
    display: flex;
    align-items: center;

}

.direitaCabecalho {
    width: 20vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pCabecalho {
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.pCabecalho::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.pCabecalho::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.pCabecalho:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#imgEsquerdaCabecalho {
    width: 13vw;
    height: 6vh;
}

#imgEsquerdaCabecalho,
#nocline:hover {
    cursor: pointer;
}

#imgDireitaCabecalho {
    width: 1vw;
    height: 3vh;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    margin-left: -50px;
    padding: 10px 10px;
    z-index: 1;
    font-size: 10px;
    justify-content: center;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.dropdown-content a:hover {
    font-size: 11px;
    transform: translateY(11px);
}

/* fim do cabeçalho */

/* começo do banner */
.paiBanner {
    display: flex;
    width: 100%;
    height: 450px;
    /* background-image: url(..//assets/zyro-image\ \(2\).png); */
    background-size: 100%;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: -9999;
    object-fit: cover;
}

.divBoxTextoBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 23vh;
    margin-top: 9%;
    margin-left: -2%;
}

.pTituloBanner {
    display: flex;
    justify-content: center;
    width: 10 0%;
    font-size: 38px;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
}

.divBoxTextoBanner {
    display: flex;
    justify-content: center;
    width: 60%;
}

.textoBanner {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    width: 70%;
    position: relative;
    left: 9vw;
}

.divBoxBotaoBanner {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: 100%;
}

.botao1Banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 6vh;
    border-radius: 30px;
    font-size: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 3px #ffffff solid;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.botao2Banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 6vh;
    border-radius: 30px;
    font-size: 12px;
    background-color: black;
    border: none;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.botao2Banner:hover {
    background-color: #ffffff;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
    color: black;
    transform: translateY(-7px);
}

.botao1Banner:hover {
    background-color: #ffffff;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
    color: black;
    transform: translateY(-7px);
}

.botao1Banner:hover .texto,
.botao2Banner:hover .texto,
#botaoComeceConosco:hover .texto {
    color: black;
}

.botaoBanner {
    width: 30%;
    justify-content: space-around;
    display: flex;
}

.botao1Banner a {
    color: white;
}

.botao1Banner a:hover {
    color: black;
}

.botao2Banner a {
    color: white;
}

.botao2Banner a:hover {
    color: black;
}

/* fim do banner */

/* Começo Sobre nos */
.fundoEntenda {
    background-color: white;
    height: 37rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sobrenos {

    width: 20%;
    position: relative;
    left: 2vw;
    top: 10vh;

}

.subtitulo {

    width: 20%;
    position: relative;
    left: 2vw;
    top: 10vh;
}

.fundoEntenda img {

    width: 4rem;
    height: 4rem;
    position: relative;
    right: 6vw;
    top: 10vh;

}

.main-div {
    display: flex;

}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;

}


.right-side>div {

    width: 90%;
    position: relative;
    bottom: 10vh;
    left: 5vw;

}

.left-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    padding: 30px;

}

.left-side p {

    width: 80%;

}

/* Fim do Sobre nos */

/* Inicio Pq nos escolher*/
.Div_PqNosEscolher {
    background-image: url(../assets/Porque.png);
    background-repeat: no-repeat;
    background-size: 100% 39rem;
    width: 100%;
    height: 40rem;
    z-index: 0;
    position: relative;
}

.Tit_PNE {
    width: 100%;
    height: 10rem;
    color: white;
    font-family: Inter;
    font-size: 0.75rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 5%;
}

.Tit_PNE h1 {

    position: relative;
    bottom: 2vh;
    font-size: xx-large;
}

.Tit_PNE h3 {

    font-size: large;
}

.Tit_PNE h4 {

    position: relative;
    bottom: 3vh;
    font-size: large;
}

.Cards_PNE {
    width: 100%;
    height: 31rem;
    position: relative;
    bottom: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Cards_PNE .card {
    width: 18rem;
    height: 20rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card img {
    position: relative;
    top: 1vh;
    width: 5rem;
    height: 5rem;
}

.card h3 {
    position: relative;
    top: 1vh;
}

.card p {
    text-align: center;
    width: 16rem;
    position: relative;
    top: 5vh;
    font-size: 15px;
}

/* fim por que nos escolher */

/* começo equipe */
.all {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titulo-equipe {
    height: 10vh;
}

.titulo {
    width: 75%;
    height: 128vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #ffffffaf solid 1px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 60px;
    z-index: 999;
    position: relative;
    border-radius: 1rem;
}

.titulo h4 {
    font-size: 20px;
    margin-bottom: 7px;
}

.all-membros {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}


.caixa-equipe {
    display: flex;

}

.cards-equipe {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 3rem;
}


/* área com as fotos dos integrantes */
.card-foto {
    height: 50vh;
    width: 18.7%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 10px 10px 5px rgba(0, 0, 0, 0.384);
    border-radius: 5%;
}

/* div das imagens */
.card-desc2 {
    display: flex;
    justify-content: space-evenly;

}

/* imagens */
#perfil {
    position: relative;
    top: vh;
    z-index: 999;
    border-radius: 10px 10px 0px 0px;
}

/* área para ficar o nome e a função de cada integrante */
.card-desc {
    background-color: #FAFAFA;
    height: 7vh;
    width: 90%;
    position: relative;
    left: 0.5vw;

    text-align: center;
    border-radius: 10%;
}

/* nome dos integrantes */
#nome-equipe {
    font-size: 1rem;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 1vh;
}

/* função dos integrantes */
.texto3 {
    padding: 1.0em;
    text-align: center;
    height: 20vh;
    font-size: 0.76rem;
    position: relative;
    bottom: 1vh;
    opacity: 0.8;
}

/* Final da Nossa Equipe */

/* Inicio Planos*/

.Div_Planos {
    background-color: #000000;
    width: 100%;
    height: 40rem;
    z-index: 0;
    position: relative;
}

.Tit_Planos {
    width: 100%;
    height: 10rem;
    color: white;
    font-family: Inter;
    font-size: 0.75rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 5%;
}



.Tit_Planos h1 {

    position: relative;
    bottom: 2vh;
    font-size: xx-large;
}

.Tit_Planos h3 {

    font-size: large;
}

.Tit_Planos h4 {

    position: relative;
    bottom: 3vh;
    font-size: large;
}


.Cards_Planos {
    width: 100%;
    height: 31rem;
    position: relative;
    bottom: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Cards_Planos .card_planos1 {
    width: 18rem;
    height: 18rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid white;
    position: relative;
    bottom: 3vh;
}

.Cards_Planos .card_planos2 {
    width: 18rem;
    height: 20rem;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 1rem;
}

.Cards_Planos .card_planos3 {
    width: 18rem;
    height: 22rem;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid white;
    position: relative;
    top: 3vh;
}

#cards:hover {

    transition: 0.5s ease-in-out;
    transform: scale(1.101);


}

#cards h1 {

    color: #ffffff;

}

#cards h2 {

    color: #ffffff;

}

#cards span {

    position: relative;
    top: 2vh;
    color: #ffffff;
    font-size: small;

}

#cards p {

    text-align: center;
    width: 16rem;
    position: relative;
    top: 5vh;
    font-size: 15px;
    color: #ffffff;
    text-align: start;

}

/* fim planos */

/* Inicio Avaliacoes*/

.Div_avaliacoes {
    width: 100%;
    height: 40rem;
    z-index: 0;
    position: relative;
}

.Tit_avaliacoes {
    width: 100%;
    height: 10rem;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 0.75rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 5%;
}

.Tit_avaliacoes h1 {

    position: relative;
    bottom: 2vh;
    font-size: xx-large;
}

.Tit_avaliacoes h3 {

    font-size: large;
}

.Tit_avaliacoes h4 {

    position: relative;
    bottom: 3vh;
    font-size: large;
}

.Cards_avaliacoes {
    width: 100%;
    height: 31rem;
    position: relative;
    bottom: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Cards_avaliacoes .card_avaliacoes {
    width: 22rem;
    height: 20rem;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.foto {

    display: flex;
    flex-direction: row;
    height: 10vh;


}

.nomes span {

    color: #ffffff;
    font-size: small;
    position: relative;
    top: 3vh;

}

.card_avaliacoes img {
    position: relative;
    top: 4vh;
    right: 3vh;
    width: 6rem;
    height: 6rem;
    border-radius: 1vh;
}

.card_avaliacoes h3 {
    position: relative;
    top: 5vh;
    color: #ffffff;
}

.card_avaliacoes p {
    text-align: justify;
    width: 16rem;
    position: relative;
    top: 12vh;
    font-size: 15px;
    color: #ffffff;
}

/* fim Avaliacoes */

/* começo do comece conosco */
.paiComeceConosco {
    display: flex;
    width: 100%;
    height: 60vh;
    background-size: 100%;
    background-image: url(../assets/Cadastre-se.png);
    background-repeat: no-repeat;
    justify-content: center;
}

.filhoComeceConosco {
    display: flex;
    width: 80%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.esquerdaComeceConosco {
    width: 45%;
    height: 20%;
}

.boxTextoComeceConosco {
    width: 55%;
    position: relative;
    top: 10vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pComeceConosco {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#textoComece {
    text-align: center;
    color: white;
}

#botaoComeceConosco {
    border-radius: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    height: 7vh;
    font-size: 14px;
    background-color: black;
    border: none;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    align-self: center;
}

#botaoComeceConosco a {
    color: white;
}

#botaoComeceConosco a:hover {
    color: black;
}

#botaoComeceConosco:hover {
    background-color: #ffffff;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
    color: black;
    transform: translateY(-7px);
}

/* fim do comece conosco */

/* começo do rodape */

.rodape {
    display: flex;
    width: 100%;
    height: 40rem;
}

.notes {
    position: relative;
    width: auto;
    max-width: 300px;
    min-height: 150px;
    background: #0e0c0c;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;

}

.container {
    display: flex;
    width: 60vw;
    position: relative;
    left: 2vw;
}

.lista {

    flex: 1;
    padding: 10px;

}

.lista li {

    padding: 10px;
    list-style: none;
    text-decoration: none;
    position: relative;
    right: 3.8vw;

}

.lista li:hover {

    transform: scale(1.03);
    transition: 0.5s ease-in-out;

}

.feedbackForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    z-index: 99;
    right: 4%;
    height: 25.5rem;
    width: 24rem;
    bottom: -239.86rem;
    justify-content: space-around;
    padding: 70px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 25px -5px, rgba(0, 0, 0, 0.06) 0px 10px 10px -5px;
}



.feedbackForm ::placeholder {
    padding-left: 0.5rem;
}

.input-group {
    position: relative;

}

.input-group__input {
    padding: 5px;
    margin: 20px 0;
    width: 100%;
    outline: none;
    height: 20px;
    border: 0;
    border-bottom: 2px solid rgb(33, 32, 32);
    text-align: start;
    font-size: medium;
    background-color: transparent;
    transition: border-bottom 500ms;


}

.input-group__input:is(:focus, :valid) {

    border-bottom: 2px solid rgb(0, 0, 0);

}

.input-group__label {

    position: absolute;
    top: 3vh;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform 0.25s;

}

.input-group__input:focus+.input-group__label,
.input-group__input:valid+.input-group__label {

    transform: translate(0, -14px) scale(0.9);
    color: #000000;


}

.enviarMensagem {
    color: white;
    font-size: 15px;
    background-color: black;
    position: absolute;
    top: 31rem;
    height: 2rem;
    width: 10rem;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.enviarMensagem:hover {
    box-shadow: 0px 5px 10px rgb(138, 138, 138);
    transform: translateY(-7px);
}

.faleConosco {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}

.material-symbols-outlined {

    position: relative;
    top: 1vh;


}

#iconFaleConosco {

    position: relative;
    top: 1vh;

}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

.divIcon {
    display: flex;
    padding: 20px;
}

.icon {
    display: flex;
    width: 2rem;
    height: 2rem;
    padding: 7px;
    transition: 0.2s ease-in-out;
}

.icon:hover {

    transform: scale(1.1);

}

.links a:hover {
    font-size: 12px;
}

.iconFace {
    display: flex;
    width: 2rem;
    height: 2.3rem;
    padding: 2px;
    margin-top: -2px;
}

.copyright {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: 2px solid gray;
}

.copyright span {
    justify-content: space-around;
    padding: 23px;
}

#copy {
    color: #000000;
}

.copyright #nocline {
    height: 3rem;
}

/* fim do rodape */