    body {
        margin: 0;
        background-image: url(../assets/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        backdrop-filter: blur(7px);
    }

    ::-webkit-scrollbar {
        width: 13px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #18272F;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #10181d;
    }


    .navbar_login {
        padding: 2.5rem;
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        align-items: center;
    }

    .texto_navbar {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    .texto_navbar:hover {
        color: #5a78c4;
        transform: translate(5px)
    }

    .div_logo {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 2.5rem 0 0 0;
    }

    .logo_login {
        width: 25%;
    }

    .logo_login:hover {
        cursor: pointer;
    }

    .inputs_login {
        padding: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 8.5rem;
        position: relative;
        left: 5vh;
        background: #121212e2;
        margin-bottom: 5%;
        width: 20%;
        margin-left: 30%;
    }

    .input {
        position: relative;
    }

    .input__field {
        padding: 1rem 1rem 0.3rem 3rem;
        width: 16.5rem;
        border: none;
        border-radius: 4px;
        font: inherit;
        color: #fafafa;
        background-color: transparent;
        outline: 2px solid #ffffff;
    }
    .title {
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        color: #fff;
        margin-top: -28%;
        margin-bottom: 10%;

      }
    .input__label {
        position: absolute;
        top: 0;
        left: 7vh;
        color: #ffffff;
        transform: translate(10px, 10px);
        transform-origin: left;
        transition: transform 0.25s;
    }

    .input__field:focus-visible~.input__label,
    .input__field:valid~.input__label {
        transform: translate(-7vh, -25px) scale(0.8);
        color: #ffffff;
    }

    .input__field:is(:focus-visible, :valid) {
        outline-color: #ffffff;
    }

    .input.success input {
        border: 3px solid #4ECA64;
    }
    
    .input.error input {
        border: 3px solid #DB5A5A;
    }
    
    .input.error i.img-error {
        visibility: visible;
    }
    
    .input.success i.img-success {
        visibility: visible;
    }
    
    .input.error small{
        color: #DB5A5A;
        visibility: visible;
    }
    
    .input i {
        position: absolute;
        top: 12px;
        right: 3vh;
        visibility: hidden;
    }
    .input small {
        visibility: hidden;
        position: absolute;
        top: 8vh;
        left: -0vh;
        font-size: 14px;
    
    }
    
    .btn_login{
        width: 200px;
        height: 40px;
        border: none;
        background: #323131;;
        margin-top: 5px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: 0.5s ease-in-out;
    }

    .btn_login:hover{
        transform: scale(1.1);
        background-color: #10181d;
    }

    .material-symbols-outlined {
        width: 2rem;
        height: fit-content;
        position: relative;
        top: -40px;
        left: 0%;
        padding: 2%;
    }


    footer {
        padding-top: 2rem;
        display: flex;
    }

    .span_copyright {
        text-align: center;
        width: 100%;
        color: white;
        margin-top: -60px;
    }



