@media only screen and (max-width: 600px) {

  .navbar_login {
    padding: 3.4rem 0 2rem 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
  }

  .texto_navbar {
    font-size: 0.55rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  .texto_navbar:hover {
    color: #5a78c4;
    transform: translate(5px)
  }

  .div_logo {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .logo_login {
    width: 70%;
  }

  .inputs_login {
    padding: 0rem;
    height: 130vh;
  }

  .caixa_inputs {
    flex-direction: column;
    position: relative;
    right: 5vw;
    height: 82vh;
    
  }

  .inputs_login_esquerda1,
  .inputs_login_direita1 {
    height: 18rem;
    padding: 2rem;
    gap: 1.2rem;
  }

  /* Formulario de cadastro */

  .container {
    width: 80vw;
    height: 125vh;
  }

  form .page .field button {
    width: 50%;
    margin-top: 5px;
    font-size: 17px;
    position: relative;
    right: 2vh;

  }

  form .page .btns button.prev-2 {

    font-size: 17px;
    position: relative;
    right: 2vh;

  }

  form .page .btns button.next {
    position: relative;
    left: 7vh;
    top: 0vh;
  }

  form .page button.next1 {
    position: relative;
    left: 1vw;
  }

  form .page button.cadastro {

    position: relative;
    left: 1vw;

  }

  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after {
    bottom: 11px;
    left: 12vw;
  }

  .input__label {
    position: absolute;
    top: 0;
    left: 5vh;
  }

  .input__label2 {
    position: absolute;
    top: 0;
    left: 19vh;
  }

  .input__label3 {
    position: absolute;
    top: 0;
    left: 23vh;
  }

  .input__label4 {
    position: absolute;
    bottom: 6vh;
    right: 60vw;
  }

  .input__field:focus-visible~.input__label,
  .input__field:valid~.input__label {
    transform: translate(-5vh, -25px) scale(0.8);
  }

  .input__field:focus-visible~.input__label2,
  .input__field:valid~.input__label2 {
    transform: translate(-4vh, -25px) scale(0.8);
  }

  .input__field:focus-visible~.input__label3,
  .input__field:valid~.input__label3 {
    transform: translate(-4vh, -25px) scale(0.8);
  }

  .input i {
    position: absolute;
    top: 45px;
    right: 4vh;
    visibility: hidden;
  }

  .input small {
    visibility: hidden;
    position: absolute;
    top: 5.5vh;
    font-size: 14px;

  }

}