@media only screen and (max-width: 600px){

    body{
     height: 100vh;
    }

    .navbar_login {
        padding: 5rem 0;
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        align-items: center;
    }

    .texto_navbar {
        font-size: 0.55rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    .texto_navbar:hover {
        color: #5a78c4;
        transform: translate(5px)
    }

    .div_logo {
        padding-top: 0rem;
    }

    .logo_login {
        width: 70%;
    }

    .inputs_login {
        padding: 5rem 10rem 10rem 10rem;
        flex-direction: column;
        height: 10.01rem;
        margin-left: 0;
        position: relative;
        left: 2vw;
    }

    .input_login {
        padding: 0.6rem 0.6rem 0.6rem 2rem;
        width: 12rem;
        background-color: #43537DBD;
        border-radius: 20px;
        border: none;
        display: flex;
        color: white;
        font-size: 0.5rem;
    }

    .title {
        margin-top: -8%;
        margin-bottom: 18%;

      }

      .input__label {
        position: absolute;
        top: 0;
        left: 5vh;
        color: #ffffff;
        transform: translate(10px, 10px);
        transform-origin: left;
        transition: transform 0.25s;
    }

    .btn_login:hover {
        background-color: hsla(0, 0%, 100%, 0.5);
        color: black;
        cursor: pointer;
        transform: scale(1.02);
    }

    footer {
        padding: 4.2rem;
        display: flex;
    }

    .span_copyright {
        font-size: 0.7rem;
        text-align: center;
        width: 100%;
        color: white;
    }

    .material-symbols-outlined {
        width: 1.3rem;
        height: 1rem;
    }

    .wrapper {
        position: relative;
        color: white;
    }

    .wrapper img {
        position: absolute;
        left: 8px;
        bottom: 8px;
    }

}